.card-columns{
    margin: 2rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    .card{
        display: flex;
        flex-grow: 1;
        margin: 1rem;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
        transition: transform 1.5s;
        .card-title{
          font-family: $font-bold-ep;
          color:$marron-tte;
          text-align: center;
          font-size: 24px;
        }
        
    } 
    .card:hover{
        transform: scale(1.05);
    }
    .card-bg{
        width: 10rem;
        background-color: rgba(218, 218, 218, 0.295);
    }
}



.round-borders{
    border-radius: $margen-min - 4px;
}
