/*esto es para EL TITULO DEL INDEX*/
$font-Casual:'Casual';
$size-titulo:3.5rem;
/*esto es para EL EPIGRAFE DE IMG GALERIA antes figcaption*/
$font-epigraf: 'Quicksand', sans-serif;
$font-sz-epigraf: 10px;
$font-bold-ep:'PT Serif', serif;

@font-face {
    font-family: 'Casual';
    src: url('Casual-Regular.eot');
    src: url('Casual-Regular.eot?#iefix') format('embedded-opentype');
    src: url('Casual-Regular.woff2') format('woff2');
    src: local('Casual-Regular.woff') format('woff');
    src: local('Casual-Regular.ttf') format('truetype');
    src: url('Casual-Regular.svg#Casual-Regular') format('svg');
    
    font-style: normal;
    font-display: swap;
}


