
/*PARA RAMA_VERSION3 QUITAR ESTE ESTILOS.CSS Y TRANSFORMARLO EN SASS*/
/* Botones genericos no del nav, contacto los usa*/
.btnGenerales {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 81, 88);
    cursor: pointer;
    color: rgb(246, 246, 246) ;
    border-radius: 4px;
    opacity: 1;
    transition: 00.3s;
}
.btnContacto div a:hover:not(.active) {
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 4px;
    background-color:rgba(251, 162, 110, 0.568);
    color: white;
}
.btnContacto .active {
    border-radius: 4px;
    background-color: rgba(251, 162, 110, 0.568);
    color: white;
}




/*__________CONTACTO.HTML_________*/

.boxContacto{
    margin: 80px 40px 10px 40px;
}
.datosContacto p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.datosContacto img{
    float: left;
    width: 1.5%;
    height: 1.5%;
}
.formulario{
    width: 300px;
    border: none;
    background-color: rgba(255, 248, 239, 0.514);
    border-radius: 4px;
    color:rgb(28, 39, 13);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/*______fin css contacto.html_____*/

