
/*PARA RAMA_VERSION3 QUITAR ESTE ESTILOS.CSS Y TRANSFORMARLO EN SASS*/
/* Botones genericos no del nav, contacto los usa*/
.btnGenerales {
    padding: 10px 20px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(75, 81, 88);
    cursor: pointer;
    color: rgb(246, 246, 246) ;
    border-radius: 4px;
    opacity: 1;
    transition: 00.3s;
}
.btnContacto div a:hover:not(.active) {
    opacity: 0.6;
    transition: 0.3s;
    border-radius: 4px;
    background-color:rgba(251, 162, 110, 0.568);
    color: white;
}
.btnContacto .active {
    border-radius: 4px;
    background-color: rgba(251, 162, 110, 0.568);
    color: white;
}


/*___________PERFIL.HTML__________*/
/*   Caja Perfil Izq   */
.dark-bgr{
    background-color: rgb(41, 42, 42);
}
.menu-light{
    color: blanchedalmond;
}
.grilla-perfil{
    display: grid;
    grid-template-areas: 
    "cajaPerfil flexFotoPerfil";
    grid-template-columns:60% 40%;
    height: 70vh;width: auto;
    grid-row-gap: 20px;
}

section.cajaPerfil{
    grid-area: cajaPerfil;
}

section.flexFotoPerfil{
    grid-area: flexFotoPerfil;
}

.flexFotoPerfil{
    margin:8rem 20px 2rem;
    display: flex;
    flex-flow: column nowrap;
    align-items:center
}
.flexFotoPerfil img{
    width:35vw;
    border-radius: 120px;
}
.cajaPerfil{
    margin: 8rem 2rem 20px;
    padding:20px;
    height: 40vh;width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
}
.cajaPerfil h1{
    font-size: 80px ;
    color: rgb(255, 240, 228);
    font-family: 'Volkhov', serif;
}
.cajaPerfil p {
    color: rgb(241, 241, 241);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
}



/*__________CONTACTO.HTML_________*/

.boxContacto{
    margin: 80px 40px 10px 40px;
}
.datosContacto p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.datosContacto img{
    float: left;
    width: 1.5%;
    height: 1.5%;
}
.formulario{
    width: 300px;
    border: none;
    background-color: rgba(255, 248, 239, 0.514);
    border-radius: 4px;
    color:rgb(28, 39, 13);
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}


/*______fin css contacto.html_____*/

