/*esto es para EL TITULO DEL INDEX*/
/*esto es para EL EPIGRAFE DE IMG GALERIA antes figcaption*/
/*iconos del footer*/
.icono--instagram {
  color: #858383c4;
}

.icono--instagram:hover {
  color: #ce1d58d5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icono--behance {
  color: #858383c4;
}

.icono--behance:hover {
  color: #0338e6bb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icono--linkedin {
  color: #858383c4;
}

.icono--linkedin:hover {
  color: #2866b2d2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icono--email {
  color: #858383c4;
}

.icono--email:hover {
  color: #7f0edbbb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/*CAROUSEL ESTILO,COLOR,FUENTE


.carousel{
    .carousel__container{
        
        margin-bottom: $margen-max/3;
    }
    &__bgr{
        
        background: $blanco-tte;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.424) 0%, rgba(0, 0, 0, 0) 100%);
        border-radius: $margen-min - 6px;
        
        .carousel__title{
            font-family: $font-bold-ep;
            color:$blanco-tte;
            text-align: center;
        }
        figcaption{
            font-family: $font-epigraf;
            font-size: $font-sz-epigraf;
            color:$blanco;
            font-weight: thin;
            text-align: center;
        }
    }

    .carousel__bgr--light{
        background: $blanco;
        background: linear-gradient(0deg, $blanco-tte 0%, $tte 100%);
        .carousel__title{
            font-family: $font-bold-ep;
            color:$marron-tte;
            text-align: center;
        }
        figcaption{
            font-family: $font-epigraf;
            font-size: $font-sz-epigraf;
            color:$marron-tte;
            font-weight: bold;
            text-align: center;
        }
    }
}
*/
.card-columns {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-columns .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.card-columns .card .card-title {
  font-family: "PT Serif", serif;
  color: #1d1616ce;
  text-align: center;
  font-size: 24px;
}

.card-columns .card:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.card-columns .card-bg {
  width: 10rem;
  background-color: rgba(218, 218, 218, 0.295);
}

.round-borders {
  border-radius: 6px;
}

@media screen and (max-width: 767px) {
  .menu__divisor {
    visibility: hidden;
  }
}

/*_________PROYECTOS.HTML_________*/
.flexVideos {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 390px;
      flex-basis: 390px;
}

/*___________PERFIL.HTML__________*/
/*   Caja Perfil Izq   */
.dark-bgr {
  background-color: #292a2a;
}

.menu-light {
  color: blanchedalmond;
}

.grilla-perfil {
  /*REEMPLAZAR ESTO SACAR GRID*/
  display: -ms-grid;
  display: grid;
      grid-template-areas: "cajaPerfil flexFotoPerfil";
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  height: 80vh;
  width: auto;
  grid-row-gap: 20px;
}

section.cajaPerfil {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: cajaPerfil;
}

section.flexFotoPerfil {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: flexFotoPerfil;
}

.flexFotoPerfil {
  margin: 4rem 20px 2rem;
  height: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexFotoPerfil img {
  width: 250px;
  border-radius: 220px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.cajaPerfil {
  margin: 8rem 2rem 1rem;
  padding: 20px;
  height: 40vh;
  width: 40vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cajaPerfil h1 {
  font-size: 80px;
  color: #fff0e4;
  font-family: 'Volkhov', serif;
}

.cajaPerfil p {
  color: #f1f1f1;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #ffffff;
  height: 100vh;
}

.menu__desplegable {
  margin: 1rem;
}

.inicio__titulo {
  margin: 1.5rem 40px;
  font-family: "Volkhov", serif;
  color: #50361f;
  font-size: 48px;
  text-align: start;
}

.inicio__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  grid-gap: 1rem;
  margin: 1.5rem;
}

.inicio__container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.inicio__container__img {
  max-width: 240px;
}

.pie {
  margin: 20px 20px;
}

.pie__flex {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 1rem;
  width: 220px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
}

/**************************/
/*******Animaciones********/
@-webkit-keyframes animate__fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate__fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
