/*esto es para EL TITULO DEL INDEX*/
/*esto es para EL EPIGRAFE DE IMG GALERIA antes figcaption*/
@font-face {
  font-family: 'Casual';
  src: url("Casual-Regular.eot");
  src: url("Casual-Regular.eot?#iefix") format("embedded-opentype");
  src: url("Casual-Regular.woff2") format("woff2");
  src: local("Casual-Regular.woff") format("woff");
  src: local("Casual-Regular.ttf") format("truetype");
  src: url("Casual-Regular.svg#Casual-Regular") format("svg");
  font-style: normal;
  font-display: swap;
}

/*iconos del footer*/
.icono--instagram {
  color: #858383c4;
}

.icono--instagram:hover {
  color: #ce1d58d5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icono--behance {
  color: #858383c4;
}

.icono--behance:hover {
  color: #0338e6bb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icono--linkedin {
  color: #858383c4;
}

.icono--linkedin:hover {
  color: #2866b2d2;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.icono--email {
  color: #858383c4;
}

.icono--email:hover {
  color: #7f0edbbb;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.dark-bgr {
  background-color: #292a2a;
}

.dark-bgr2 {
  background-color: #292a2a;
}

.menu-light {
  color: blanchedalmond;
}

.card-columns {
  margin: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.card-columns .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  margin: 1rem;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
  -webkit-transition: -webkit-transform 1.5s;
  transition: -webkit-transform 1.5s;
  transition: transform 1.5s;
  transition: transform 1.5s, -webkit-transform 1.5s;
}

.card-columns .card .card-title {
  font-family: "PT Serif", serif;
  color: #1d1616ce;
  text-align: center;
  font-size: 24px;
}

.card-columns .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.card-columns .card-bg {
  width: 10rem;
  background-color: rgba(218, 218, 218, 0.295);
}

.round-borders {
  border-radius: 6px;
}

/*_________PROYECTOS.HTML_________*/
.flexVideos {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 390px;
      flex-basis: 390px;
}

iframe {
  border-radius: 10%;
}

/*___________PERFIL.HTML__________*/
/*   Caja Perfil Izq   */
.grilla-perfil {
  /*REEMPLAZAR ESTO SACAR GRID*/
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 4fr;
      grid-template-rows: 4fr;
  height: 100vh;
  width: 100vw;
  grid-row-gap: 20px;
}

.flexFotoPerfil {
  height: 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flexFotoPerfil img {
  width: 150px;
  border-radius: 220px;
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
}

.cajaPerfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.cajaPerfil h1 {
  font-size: 80px;
  color: #fff0e4;
  font-family: 'Casual';
}

.cajaPerfil p {
  word-break: keep-all;
  color: #f1f1f1;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif, Arial, sans-serif;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .menu__divisor {
    visibility: hidden;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .inicio .inicio__titulo h1 {
    font-size: 7rem;
  }
  .inicio .inicio__container {
    width: 70vw;
  }
  .inicio .inicio__container img {
    border-radius: 80px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 2560px) {
  .menu__divisor {
    height: 5px;
    width: 100vw;
    background: #ffffff;
    background: radial-gradient(circle, #fffefc 0%, #646464 0%, #fffefc 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  }
  .inicio .inicio__titulo h1 {
    font-size: 8.75rem;
  }
  .inicio .inicio__container {
    width: 75vw;
  }
  .inicio .inicio__container .inicio__item {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .inicio .inicio__container img {
    width: 80%;
  }
  .flexFotoPerfil {
    width: 50vw;
    height: 50vh;
    border-radius: 60px;
  }
  .cajaPerfil {
    margin-top: 2rem;
    height: 100vh;
    width: 60vw;
  }
  .flexVideos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 80vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 2rem;
    -ms-flex-preferred-size: 80vw;
        flex-basis: 80vw;
  }
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #f0eaea;
  height: 100vh;
}

.menu__desplegable {
  margin: 1rem;
}

.inicio {
  width: 90vw;
  height: 70vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  margin: 1rem;
}

.inicio__titulo h1 {
  font-family: "Casual";
  color: #50361f;
  font-size: 3.5rem;
  font-weight: bold;
  text-align: start;
  padding-bottom: 20px;
}

.inicio__container {
  display: -ms-grid;
  display: grid;
  width: 80vw;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

.inicio__container__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.inicio__container img {
  width: 240px;
  border-radius: 100px;
}

.pie {
  margin-top: 10px;
}

.pie__flex {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  height: 1.5rem;
  width: 220px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}

/*******Animaciones********/
@-webkit-keyframes animate__fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes animate__fadeInLeft {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
