@import "./partials/fuentes";
@import "./partials/variables";
@import "./partials/card-columns";
@import "./partials/media-queries";
@import "./partials/videos";
@import "./partials/imagenes";
@import "./partials/responsive";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: $color-body;
    height: 100vh;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.menu{
 &__desplegable{
    margin: $margen-max/4;
 }
}

.inicio{
    width: 94vw; height: 70vh;
    display: flex;
    flex-flow: column nowrap;
    margin: 1rem 0.5rem ;
    &__titulo h1{
         margin: $margen-min;
         font-family:$font-Yeseva;
         color: $marron-claro;
         font-size:$size-titulo !important;
         font-weight: bold !important;
         text-align: center;
      
    }
    &__container{
        margin-top: $margen-min;
        display: grid;
        height: 20px;width: 80vw;
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows:repeat(2,1fr);
        grid-gap: $margen-min;
        align-self:center;
        img{
         margin: $margen-min;
         height: 50%;
         border-radius: 50%;            
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
         transition: transform 1.2s;
        }
        img:hover{
         transform: scale(1.2);
        }

    }
    &__figcap p{
        margin: $margen-min*2;
        font-family: $font-Raleway;
        font-size: $sz-figcap;
        text-align: center;
    }
}

.pie{
    display: flex;
    margin-top: $margen-min;
    width:99vw;
     &__flex{
         width: 99vw;
         list-style: none;
         display: flex;
         flex-flow: row wrap;
         height: $margen-max/2; width: $ancho-img - 20px;
         justify-content: space-around;
         align-items: center;
     }

}


/*******Animaciones********/

@keyframes animate__fadeInLeft{
    
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


