@import "./partials/fuentes";
@import "./partials/variables";
@import "./partials/card-columns";
@import "./partials/media-queries";
@import "./partials/videos";
@import "./partials/imagenes";
@import "./partials/responsive";

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: $color-body;
    height: 100vh;
    -ms-overflow-style: none; 
    scrollbar-width: none;
}
body::-webkit-scrollbar {
    display: none;
}
.menu{
 &__desplegable{
    margin: $margen-max/4;
 }
}

.inicio{
    display: grid;
    grid-template-rows:1fr 2fr 1fr;
    width:99vw;
    grid-row-gap: 20px;
    align-items: center;
    justify-items: center;
    &__titulo {
     h1{
      font-family:$font-Yeseva, $font-Elsie;
      color: $marron-claro;
      font-size:$size-titulo !important;
      font-weight: bold !important;
      text-align: center;
     }
    }
    &__container{
        display: grid; margin: $margen-min;
        width: 80vw; 
        grid-template-columns:repeat(2,1fr) ;
        grid-template-rows:repeat(2,1fr);
        grid-gap: $margen-min*2;
        align-items: center;
        justify-items: center;
        img{
         width: 80%;
         border-radius: 50%;            
         box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
         transition: transform 1.2s;
        }
        img:hover{
         transform: scale(1.12);
        }

    }
    &__figcap {
        display: flex;
        align-self: flex-end;
        height:3rem ;
        margin: $margen-min*2;
        figcaption{
         font-family: $font-Raleway;
         font-size: $sz-figcap;
         text-align: center;
        }
    }
}
.contact-form{
    width: 90vw;
    margin: $margen-min*2;
}
.pie{
    display: flex;
    margin-top: $margen-min;
    width:99vw;
    
     &__flex{
         width: 99vw;
         height: $margen-max/2; width: $ancho-img - 20px;
         list-style: none;
         display: grid;
         grid-template-columns: repeat(4,1fr);
         grid-row: 1fr;
         grid-gap:$margen-min;
         justify-content: space-between;
     }

}


/*******Animaciones********/

@keyframes animate__fadeInLeft{
    
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}


